body
   padding-top 61 px

.navbar-header
  height 60px


.navbar-header a.navbar-brand
  margin-top -10px
  margin-bottom -20px
  color #fafafa

  h6
    color #ccc


.navbar-inverse
  background-color #60C7B6
  border-color #dddddd

.navbar-nav a
  color #f3f3f3

.panel-primary
  border-color #101010
  .panel-heading
    background-color #0f334e



footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d6d6d6


.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.toast-top-right
  top 70px

.toast-success
  background-color #13987e